# .---------------------------- Minute (0 - 59)
# |
# |     .---------------------- Hour (0 - 23)
# |     |
# |     |     .---------------- Day of month (1 - 31)
# |     |     |
# |     |     |     .---------- Month (1 - 12) OR jan,feb,mar,apr ...
# |     |     |     |
# |     |     |     |     .---- Day of week (0 - 6) (Sunday=0 or 7)  OR sun,mon,tue,wed,thu,fri,sat
# |     |     |     |     |
# |     |     |     |     |     Command to be executed
# |     |     |     |     |
# *     *     *     *     *     Command --arg1 --arg2 file1 file2 2>&1
